@{
    ViewBag.Title = "Home Page";
}

<body style="background-color:white;">

    <div class="j">
        <h1>Gripping Tire</h1>
        <p class="lead">Automotive Forum & Market Place</p>
    </div>

    <img src="~/Image/WRX.jpg" class="ceterImage" alt="ch logo" height="100%" width="100%" />

</body>